<h1>New User</h1>

<%=form_for(@user) do |f| %>
<%= f.text_field(:name, placeholder: "Name")%>
<%= f.password_field(:password, placeholder: "Password")%>
<%= f.number_field(:height, placeholder: "Height(inches)")%>
<%= f.number_field(:happiness, placeholder: "Happiness(1-5 scale)")%>
<%= f.number_field(:nausea, placeholder: "Nausea(1-5 scale)")%>
<%= f.number_field(:tickets, placeholder: "# of tickets")%>
<%= f.check_box :admin %>
<%= f.label "ADMIN" %>
<%= f.submit %>
<%end%>
