<%= form_for @attraction, :html => {:class => "form-horizontal"} do |f|%>
<div class = "form-group">
  <%= f.label :name%><br>
  <%= f.text_field(:name, placeholder: "Name of attraction:") %><br>
</div>
<div class = "form-group">
  <%= f.label :tickets%><br>
  <%= f.number_field(:tickets, placeholder: "Ticket Cost") %><br>
</div>
<div class = "form-group">
  <%= f.label :nausea_rating%><br>
  <%= f.number_field(:nausea_rating, placeholder: "How nausea inducing is it? (1-5)") %><br>
</div>
<div class = "form-group">
  <%= f.label :happiness_rating%><br>
  <%= f.number_field(:happiness_rating, placeholder: "How fun is it? (1-5)") %><br>
</div>
<div class = "form-group">
  <%= f.label :min_height%><br>
  <%= f.number_field(:min_height, placeholder: "Height requirement (inches)") %><br>
</div>
  <%= f.submit %>
<% end %>
