<h1>Edit Attraction</h1>
<%= form_for(@attraction) do |f|%>
  <%= f.text_field(:name, placeholder: "Name of attraction:") %>
  <%= f.number_field(:tickets, placeholder: "Ticket Cost") %>
  <%= f.number_field(:nausea_rating, placeholder: "How nausea inducing is it? (1-5)") %>
  <%= f.number_field(:happiness_rating, placeholder: "How fun is it? (1-5)") %>
  <%= f.number_field(:min_height, placeholder: "Height requirement (inches)") %>
  <%= f.submit %>
<% end %>
